.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    padding: 5px 10px;
    color: white ;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
    color: #bfbcbc;
}